@import url('./font.css');
@import url('./text.css');
@tailwind utilities;

html {
    line-height: normal;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto', Arial, Monospace, Serif, Sans-serif;
}
